<footer class="footer">
    <div class="footer__content container">
        <div class="footer__content__contacts">
            <div class="footer__content__contacts-geolocation">
                <p class="footer__content__contacts-geolocation-text">г. Пенза</p>
                <p class="footer__content__contacts-geolocation-text">ул. Ленина, д. 16</p>
                <p class="footer__content__contacts-geolocation-text">ул. Калинина, д. 27А</p>
                <p class="footer__content__contacts-geolocation-text">ул. Суворова, д. 28</p>
                <a href="mailto:bykoff@gmail.com" target="_blank" class="footer__content__contacts-geolocation-text" style="color: #F58427;">bykoff@gmail.com</a>
            </div>

            <div class="footer__content__contacts-phones">
                <a class="footer__content__contacts-phones-text" href="tel:79876543210">+7 (987) 654 32-10</a>
                <a class="footer__content__contacts-phones-text" href="tel:79675454615">+7 (967) 545 46-15</a>
            </div>

            <p class="footer__content__contacts-text-orders"><span>Прием заказов:</span> c 10:00 - 22:30 Без выходных</p>

            <button type="button" class="ready-button" style="--size: 200px; width: var(--size); height: calc(var(--size) / 4);" id="writeToUsBtnOpen">Написать нам <span><img src="/img/mail_outline_24dp.svg" style="padding-left: 5px;" alt=""></span></button>
        </div>

        <div class="footer__content__info">
            <p class="footer__content__info-text">©2007-2024. Бургерная БЫКОФФ</p>

            <div class="footer__content__info-block footer__content__info-text">
                На сайте представлено меню доставки. Информация о стоимости и ассортименте блюд в основном меню зала пиццерии может отличаться от представленных на сайте и в рекламных листовках. «В меню указан вес сырого продукта. Вес готового продукта меньше на 10-15 %» «Вид готового блюда (пиццы и остальных блюд) может отличаться от вида на фотографиях в связи с различными размерами пиццы, процессами технологического производства, вариантами упаковки (выкладки) и использования в процессе приготовления высоких температурных режимов»
            </div>
        </div>
    </div>
</footer>