<header class="header">
    <div class="header__content container">
        <div class="header__logo">
            <a href="/" draggable="false"><img src="/img/burgers-logo.svg" alt="BURGERS" draggable="false"></a>
        </div>
    
        <div class="header__wrapper">
            <nav class="header__wrapper__nav">
                <h1 class="header__wrapper__nav-text">ПРИЕМ ЗАКАЗОВ: <span>c 10:00 - 22:30 Без выходных</span></h1>
    
                <ul class="header__wrapper__nav-list">
                    <li class="header__wrapper__nav-lis-item" data-header="/"><a draggable="false" href="/">Главная</a></li>
                    <li class="header__wrapper__nav-lis-item" data-header="/menu"><a draggable="false" href="/menu">Меню</a></li>
                    <li class="header__wrapper__nav-lis-item" data-header="/delivery"><a draggable="false" href="/delivery">Доставка и оплата</a></li>
                    <li class="header__wrapper__nav-lis-item" data-header="/action"><a draggable="false" href="/action">Акции</a></li>
                    <li class="header__wrapper__nav-lis-item" data-header="/about"><a draggable="false" href="/about">О нас</a></li>
                    <li class="header__wrapper__nav-lis-item" data-header="/reviews"><a draggable="false" href="/reviews">Отзывы</a></li>
                    <li class="header__wrapper__nav-lis-item" data-header="/contacts"><a draggable="false" href="/contacts">Контакты</a></li>
                </ul>
            </nav>
    
            <div class="header__wrapper__phones">
                <img draggable="false" src="/img/phone.svg" style="--size: 22px; width: var(--size); height: var(--size); align-self: flex-start; margin-top: 5px; user-select: none;" alt="phone">
    
                <ul class="header__wrapper__phones-list">
                    <li class="header__wrapper__phones-list-item"><a href="tel:79876543210">+7 (987) 654 32-10</a></li>
                    <li class="header__wrapper__phones-list-item"><a href="tel:79675454615">+7 (967) 545 46-15</a></li>
                </ul>
            </div>
            
            <div class="header__burger-basket__wrapper">
                <a href="/basket" class="header__basket" draggable="false">
                    <img draggable="false" style="--size: 35px; width: var(--size); height: var(--size);" src="/img/shopping_cart.svg" alt="basket">
                    <span class="header__basket-counter" id="basket-quantity">0</span>
                </a>
    
                <button type="button" class="header__burger">
                    <div class="header__burger__line"></div>
                    <div class="header__burger__line"></div>
                    <div class="header__burger__line"></div>
                </button>
            </div>
        </div>
    </div>
</header>