<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../blocks/head', {title: 'БЫКОФФ - О нас'}) %>
</head>
<body>
    <%- include('../blocks/header') %>
    
    <main class="main">
        <div class="main__section__about container main__section-padding">
            <h1 class="main__section-title">О нас</h1>
            <img src="/img/827311_900x0_a8a.jpg" alt="Cafe-Bykoff" draggable="false">
            <div>
                <h2>Мы - команда кулинарных мастеров с 15 лет опыта в создании уютного места для встреч, необыкновенных вкусовых комбинаций, осуществлении незабываемых гастрономических эмоций. Вот что делает нас особенными:</h2>
                <ul>
                    <li><p>мы используем только свежие и качественные продукты, приготовленные с любовью,</p></li>
                    <li><p>у нас уютная атмосфера, где можно отдохнуть от суеты и насладиться комфортом,</p></li>
                    <li><p>мы предлагаем широкий выбор блюд на любой вкус, от классических до авторских,</p></li>
                    <li><p>у нас дружелюбный коллектив, который всегдла готов помочь сделать ваш визит приятным,</p></li>
                    <li><p>мы регулярно обновляем обновляем меню, предлагая гостям новые и интересные блюда,</p></li>
                    <li><p>у нас есть специальные предложения, акции, подарки, чтобы сделать ваш визит еще приятнее,</p></li>
                    <li><p>мы любим то, что мы делаем, и хотим, чтобы вы полюбили наше кафе так же, как и мы.</p></li>
                </ul>
            </div>
            <div class="main__section__about-selection">
                Наш интерьер - это отдельное произведение искусства. Мы вложили в него всю свою душу и стремились создать атмосферу уютного комфорта, где каждый гость может почувствовать себя особенным. Наш дизайнер создал неповторимую атмосферу с помощью стильных деталей и ярких акцентов. Но наш главный акцент - это вкусная еда и широкий выбор напитков, которые порадуют вас и сделают ваш визит незабываемым. Приходите к нам и откройте для себя мир красоты и вкуса!
            </div>
            <h2 style="padding-top: 30px;">Преимущества</h2>
            <ul style="padding-bottom: 100px;">
                <li><p>профессиональные знания и опыт,</p></li>
                <li><p>высокий уровень сервиса — мы всегда работаем для клиента,</p></li>
                <li><p>динамичность и гибкость.</p></li>
            </ul>
        </div>
    </main>

    <%- include('../blocks/footer') %>

    <div class="special-section-information-panel" data-information-panel></div>
</body>
</html>