<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../blocks/head', {title: "Корзина"}) %>
    <link rel="stylesheet" href="/css/basket.css">
</head>
<body>
    <%- include('../blocks/header') %>
    
    <main class="main basket-main">
        <!-- Содержимое будет добавлено динамически через renderBasketPage() -->
    </main>

    <%- include('../blocks/footer') %>
    <script src="/js/basket.js"></script>
</body>
</html>