<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../blocks/head', {title: 'БЫКОФФ - Доставка и оплата'}) %>
</head>
<body>
    <%- include('../blocks/header') %>

    <main class="main">
        <div class="main__section__delivery container main__section-padding">
            <h1 class="main__section-title">Доставка и оплата</h1>
            <h2>Доставка</h2>
            <p>Доставка по городу Пенза осуществляется курьерской службой. Время доставки с 10:00 до 22:00 часов. При оформлении заказа Вы сможете выбрать удобное время и дату доставки.</p>
            <p>Внимание: Минимальная сумма заказа для доставки 500 рублей.</p>
            <h2>Минимальная сумма заказа для бесплатной доставки 1500 рублей</h2>
            <h2>Оплата</h2>
            <p>Мы принимаем МИР, Visa & Master Card. Вы оплачиваете заказ при получении.</p>
        </div>
    </main>

    <%- include('../blocks/footer') %>

    <div class="special-section-information-panel" data-information-panel></div>
</body>
</html>